*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120vh;
  height: 100vh;
  border-radius: 50%;
  transition: transform 0.2s ease-in;
}
.sun-wrapper {
  width: 250px;
  height: 250px;
  transition: transform 0.15s ease-in;
  z-index: 9;
  border-radius: 50%;
}
.sun-wrapper:active{
  transform: scale(0.9);
}
.sun-image{
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  animation: rotation 40s infinite linear;

}
.mercury-wrapper {
	height: 400px;
	width: 400px;
	position: absolute;
	z-index: 4;
	top: calc(50% - 200px);
	border-radius: 100%;
	animation: rotation 23.6s linear infinite;
}
.mercury-image {
	position: absolute;
	top: 50%;
	left: 0;
	height: 40px;
	width: 40px;
	margin-top: -20px;	
	animation: rotation 12s linear infinite;
}

h1 {
  color: aliceblue;
}

img {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-container {
  position: relative;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
   z-index: -1;
} 
.store {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-left: 5px solid orange;
  z-index: 0; 
}

.store h1 {
  color: white;
  font-size: 24px;
  margin-top: 0;
}

.multiply {
  display: flex;
  align-items: center;
}

.upgrade {
  display: flex;
  align-items: center;
  background-color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
}
.upgrade-click-icon {
  width: 50px;
  height: 50px;
}

.name {
  color: white;
  font-size: 18px;
  margin-left: 12px;
}

.name h2 {
  color: black;
  font-size: 14px;
  margin: 0;
}
.name p {
  color: rgb(53, 41, 41);
  font-size: 12px;
  margin: 0;
}
.planet {
  margin-top: 20px;
}