@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-wrapper{
 display: flex;
  justify-content: space-between;
  

}
.mercury-image {
  width: 200px;
  height: 200px;
  animation: rotate 20s linear infinite;
}

.mercury-wrapper{
  width: 250px;
}

h1{
  color: aliceblue;
}

.img-wrapper:active{
  width: 230px;
}
img{
  width: 100%;
  height: 100%;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-container{
  position: relative;
  
}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* this ensures bg img is behind the content */
}
.store {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-left: 5px solid orange;
  z-index: 10; /* Ensure the store appears above the background */
}

.store h1 {
  color: white;
  font-size: 24px;
  margin-top: 0;
}

.multiply {
  display: flex;
  align-items: center;
}

.upgrade {
  display: flex;
  align-items: center;
  background-color: gray;
  /* padding-left: 30px;
  padding-right: 30px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
}
.upgrade-click-icon {
  width: 50px;
  height: 50px;
}

.name {
  color: white;
  font-size: 18px;
  margin-left: 12px;
}

.name h2{
  color: black;
  font-size: 14px;
  margin: 0;
}
.name p{
  color: rgb(53, 41, 41);
  font-size: 12px;
  margin: 0;
}
.planet{
  margin-top: 20px;
}
.sun-img{
  width: 100px;
  height: 100px;
  animation: rotate 20s linear infinite;
}

